.backgorund{
    background-color: #005d84;
    padding: 10px;
}

.search-backgorund{
    background-color: rgb(243, 243, 243);
    padding: 30px;
}

.button-color{
background-color: #005d84;
color:white;
}